/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --general-style-color: #9EBB1F;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1000px;
}

.resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr)) repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    padding-top: 30px;
    max-width: 1000px;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
    border-right: 2.5px dashed #c2c2c5;;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 20px;
}

#footer {
    grid-column: 1 / 3;
    background-color: var(--general-style-color);
    margin-top: 128px;
    height: 28px;
}

.resume__block {
    border-bottom: 3px solid var(--general-style-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}


/* contact info styles */


.contact-info__header {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.contact-info__item {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 8px;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
    margin-right: 4px;
    width: 20px;
}

.contact-info__item-icon path {
    fill: var(--icon-color);
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.avatar-block--center {
display: flex;
justify-content: center;
margin-bottom: 5px;
}

.intro__avatar {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color);
}

/* intro and skills styles */

.intro {
    display: flex;
    justify-content: start;
}

.intro__header,
  .intro__sub-header {
      text-align: center;
  }

  .intro__header {
      color: var(--primary-text-color);
      margin-bottom: 10px;
  }

  .intro__sub-header {
      color: var(--secondary-text-color);
      margin-bottom: 25px;
  }

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro__icon path {
    fill: var(--general-style-color);
}

.intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
}

.skills__header {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.skills__category {
    color: var(--secondary-text-color);
    font-weight: 800;
    margin-bottom: 5px;
}

.skills__text {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 8px;
}

/* experience and additional info styles */

.experiences {
    margin-right: 50px;
}

.experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-header-name {
    color: var(--primary-text-color);
    text-decoration-color: var(---general-style-color);
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-project {
    margin-left: 15px;
    margin-bottom: 25px;
}

.experiences__company-project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
    color: var(--secondary-text-color);
    padding-left: 20px;
}

.additional-info__education {
    margin-bottom: 20px;
}

.additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.additional-info__education-university-name {
    color: var(--secondary-text-color);
}

.additional-info__languages {
    margin-bottom: 20px;
}

.additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--secondary-text-color);
    padding-left: 20px;
}

@media screen and (max-width: 850px) {

    .intro__avatar {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 750px) {

    .intro__avatar {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 625px) {

    .intro__avatar {
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 500px) {

    .intro__avatar {
        width: 90px;
        height: 90px;
    }

    .container {
        margin: 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px) {

    body {
        line-height: 1.3;
    }

    .container {
        margin: 0;
        padding: 0 15px;
    }

    .intro__icon-wrapper {
        width: 25px;
    }

    .intro__header {
        font-size: large;
    }

    .intro__sub-header,
    .contact-info__header,
    .skills__header,
    .experiences__header,
    .experiences__company-header-durability,
    .experiences__company-header-name,
    .experiences__company-project-name,
    .additional-info__education-header,
    .additional-info__education-university-speciality,
    .additional-info__education-university-name,
    .additional-info__languages-header {
        font-size: medium;
    }

    .skills__category {
        font-weight: 700;
    }
}

@media screen and (max-width: 400px) {

    .container {
        padding: 0 5px;
    }

    .experiences {
        margin-right: 0px;
    }

    .experiences__company-project-responsibilities {
        padding-left: 10px;
    }

    .box2 {
        padding-left: 10px;
    }

    .intro__icon-wrapper {
        margin-right: 10px;
    }
}